@charset "utf-8";

body {
	margin: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background: linear-gradient(-45deg, #FFFFFF, #eee7ea, #F4F5F6, #E5F9FF);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
	font-family: 'Poppins', sans-serif;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: black;
}


section {
	display: block;	
	height: 120px;	
}



section i {
	margin-left: 10px;
}

.profil {
	max-width: 100%;
	height: auto;
	margin-left: 1.75vw;
	
}

h2 {
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
	color : white;
	font-size: 300%;
	text-decoration: underline white;
	letter-spacing: 5px;
    
}

h6 {
	text-align: center;
	font-size: 8vw;

	color: black;
}


.skill {
	margin-bottom: 2em;
	margin-top: 3em;
	font-size: 18px;
	font-weight: bold;
}

.logo {
	margin-left: 30%;
 	 margin-right: auto;
  	height:auto;
  	width: 100px;
	filter: drop-shadow(5px 5px 3px silver);

}

.inv {
	visibility: hidden;
}

.bio {
	text-align: left;
	margin-left: 2.5em;	
	margin-bottom: 4px;
	
	color:#1A005A; 

	font-size: 1.2em;
	
}



.titlecol {
	font-weight: bold;
	font-size: 200%;
	margin-top: 4px;
  
}


ol, li {
	font-size: 1.5em;
}




#logo {
	position: absolute;
	padding-top: 10%;
	padding-left: 5%;
	width: 66vw;
	height: auto;
	animation: fill 0.6s ease forwards 4.2s;
}

#logo path:nth-child(1) {
	stroke-dasharray:248;
	stroke-dashoffset:248;
	animation: line_anim 2s ease forwards;
	
}

h5 {
	text-align: center;
	margin-top: 25%;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	color: black;
	animation: appear 0.7s ease forwards 4.9s; 
}

@keyframes appear {
	to {
	opacity: 1;
	}
}
#logo path:nth-child(2) {
	stroke-dasharray:242;
	stroke-dashoffset:242;
	animation: line_anim 2s ease forwards 0.3s;
}

.contactinfo{
	color: lightcyan;
	font-size: 0.75em;
	font-style: normal;
	
}

#logo path:nth-child(3) {
	stroke-dasharray:436;
	stroke-dashoffset:436;
	animation: line_anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
	stroke-dasharray:424;
	stroke-dashoffset:424;
	animation: line_anim 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
	stroke-dasharray:385;
	stroke-dashoffset:385;
	animation: line_anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
	stroke-dasharray:670;
	stroke-dashoffset:670;
	animation: line_anim 2s ease forwards 1.5s;
}

#logo path:nth-child(7) {
	stroke-dasharray:508;
	stroke-dashoffset:508;
	animation: line_anim 2s ease forwards 1.8s;
}

#logo path:nth-child(8) {
	stroke-dasharray:516;
	stroke-dashoffset:516;
	animation: line_anim 2s ease forwards 2.1s;
}

#logo path:nth-child(9) {
	stroke-dasharray:240;
	stroke-dashoffset:240;
	animation: line_anim 2s ease forwards 2.4s;
}

@keyframes line_anim{
	to{
		stroke-dashoffset: 0;
		
	}
}



@keyframes fill{
	to {
		fill: black;
	}
}



.progress{
	margin-top: 10px;
	height: 25px;
	background-color: white;
}

.progress-bar {
	color: lightcyan;
	font-size: 20px;
	font-weight: bold;
}

.ending{
	margin-top: 20px;
}